<!DOCTYPE html>
<html lang="en">
<head>

    <%block name='head'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>开发框架|蓝鲸智云企业版</title>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="shortcut icon" href="${STATIC_URL}favicon.ico" type="image/x-icon">
        <!-- bootstrap css -->
        <link href="${STATIC_URL}assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/datatables-1.10.7/dataTables.bootstrap.css" rel="stylesheet"/>
        <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">

        <!-- kendo ui css -->
        <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
        <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
        <!-- font-awesome -->
        <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
        <!--自定义css-->
        <link href="${STATIC_URL}css/bk.css?v=${STATIC_VERSION}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="${STATIC_URL}css/index.css?v=${STATIC_VERSION}">
        <!-- 这个是全局配置，如果需要在js中使用app_id和site_url,则这个javascript片段一定要保留 -->
        <script type="text/javascript">
	    	  var app_id = "${APP_ID}";
              var site_url = "${SITE_URL}";	  // app的url前缀,在ajax调用的时候，应该加上该前缀
              var static_url = "${STATIC_URL}"; // 静态资源前缀
              var USERNAME = '${USERNAME}';
        </script>

        <script src="${STATIC_URL}js/jquery-1.10.2.min.js" type="text/javascript"></script>
        <script src="${STATIC_URL}js/jquery.json-2.3.min.js" type="text/javascript"></script>     <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->

        <script src="${STATIC_URL}assets/bootstrap-3.3.4/js/bootstrap.js"></script>
        <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/datatables-1.10.7/jquery.dataTables.js"></script>
        <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/datatables-1.10.7/dataTables.bootstrap.js"></script>
        <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
           <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
        <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
        <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
        <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
        <!-- 数据埋点统计 -->
        <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
        <script src="${STATIC_URL}js/common/vue.min.js"></script>
        <script src="${STATIC_URL}assets/layer/layer.min.js"></script>
        <script src="${STATIC_URL}assets/layer/laydate/laydate.js"></script>


    </%block>

</head>

<body style="background: rgb(237,241,243)">

    <div class="king-page-box">
        <div class="king-layout1-header">
            <nav class="">
                <div style="overflow:hidden; z-index: inherit;" class="navbar king-horizontal-nav1  f14">
                    <div class="navbar-container">
                        <div class="navbar-header pull-left">
                            <a class="navbar-brand" href="javascript:;">
                                <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo.png" class="logo"> </a>
                        </div>
                        <ul class="nav navbar-nav pull-left m0"> </ul>
                        <div class="navbar-header pull-right">
                            <ul class="nav">
                                <li class="user-info">
                                    <a href="javascript:;">
                                        <img class="img-rounded" src="https://magicbox.bk.tencent.com/static_api/v3/components/horizontal_nav1/images/avatar.png">
                                        <span style="color: #333333">${ USERNAME }</span>
                                    </a>
                                    <a style="color: #333333" id="logout" href="${LOGOUT_URL}">注销</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="king-layout1-main clearfix">
            <!-- sidebar start -->
            <div class="king-layout1-sidebar" style="width:216px;">
                <nav style="overflow:hidden;">
                    <div class="king-vertical-nav9    f14">
                        <div class="navbar-collapse navbar-hov">
                            <ul class="nav navbar-nav side-nav">

                                <%
                                     home = history = script = kendo = ''
                                     relative_path = APP_PATH
                                     if relative_path == SITE_URL or relative_path.startswith(SITE_URL + "?"):
                                        home = 'active'
                                     elif relative_path.startswith(SITE_URL + "history/"):
                                        history = 'active'
                                     elif relative_path.startswith(SITE_URL + "script/"):
                                        script = 'active'
                                     elif relative_path.startswith(SITE_URL + "records_show/"):
                                        kendo = 'active'
                                %>

                                <li class="${home}">
                                    <a href="${SITE_URL}"> <i class="fa fa-dashboard ">                            </i>
                                        <span>首页</span> <i class="fa fa-fw "></i>
                                    </a>
                                    <ul id="demo" class="collapse"> </ul>
                                </li>
                                <li class="${history}">
                                    <a href="${SITE_URL}history"> <i class="fa fa-wrench ">                            </i>
                                        <span>记录</span> <i class="fa fa-fw "></i>
                                    </a>
                                    <ul id="demo" class="collapse"> </ul>
                                </li>


                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- sidebar end -->
            <!-- content start -->
            <div class="king-content-wrap">
                <div class="king-layout1-content" style="margin-left: 216px;">
                    <%block name='content'></%block>
                </div>
            </div>
            <!-- content end -->
        </div>
    </div>


  <script src="${STATIC_URL}js/settings.js?v=${STATIC_VERSION}" type="text/javascript"></script>
  ${self.body()}

  <style>
      .navbar{
          margin-bottom: 0px;
      }

      .king-layout1-sidebar{
          height: 100%;
          background: #333333;
      }
      .king-horizontal-nav1 .navbar-container
      {
          background: white;
      }
      .pull-left{
          background: #333333;
      }
      .pull-right{
          margin-right: 40px;
      }

  </style>

</body>
</html>